.nav-container {
	background-color: lightblue;
	border-bottom: 90px solid grey;
	margin-top: -8px;
	margin-left: -10px;
	margin-right: -10px;
}
.navbar {
	float: right;
}
.container {
    background-color: #999;
    font-family: 'Roboto', sans-serif;
	width: 960px;
    margin: auto;
}
.section-container {
	margin-top: 150px;
}
.section {
    border: 1px, solid, white;
    padding: 20px;
}
.top-header {
	margin-left: 40px;
	border-bottom: 1px;
}
#profile-image {
    float: left;
    padding: 40px;
    margin-top: -40px;
}
#name {
	float: left;
	display: block;
	background-color: lightblue;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	padding: 0 40px;
	line-height: 90px;
	font-weight: bold;
	text-decoration: none;
}



