#background {
	background-image: url("../images/concrete.png");
}
/* Header and Navigation */
.top-header {
	color: #ffffff;
	background-color: #ffffff;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	border-bottom: 1px solid #cccccc;
}
.nav-container {
	width: 960px;
	margin: auto;
	overflow: auto;
	background-color: #ffffff;
}
#name {
	float: left;
	display: block;
	background-color: #4aaaa5;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	line-height: 100px;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: bold;
	text-decoration: none;
}
.navbar {
	float: right;
	padding: 40px;
}
.links {
	color: #777777;
	display: inline-block;
	margin-right: 10px;
	text-decoration: none;
}
#about,
#portfolio {
	border-right: 1px solid #777777;
	padding-right: 20px;
}
#about,
#portfolio,
#contact {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #777777;
}
/* Content */
.container {
    font-family: 'Roboto', sans-serif;
	width: 960px;
	margin: auto;
	min-height: calc(100vh - 70px);
}
.section-container {
	background-color: #ffffff;
	margin-top: 150px;
	border: 1px solid #dddddd;
	padding: 20px;
}
.content-header {
	margin-left: 40px;
	border-bottom: 1px;
	color: #4aaaa5;
	border-bottom: 1px;
}
.hr-line {
	color: #777777;
}
.content {
	color: #777777;
	padding: 10px;
	left: 0;
	right: 0;
}
/* Portfolio Content */
.content-portfolio {
	color: #777777;
	padding: 40px;
	left: 0;
	right: 0;
}
/* Need to figure out how to fill background section with images */
/* .portfolio-position {
	position: relative;
	float: left;
	padding: 10px;
	height: 200px;
	width: 300px;
} */
/* Profile Image */
#profile-image {
    float: left;
    padding: 40px;
    margin-top: -40px;
}
/* Contact Form */
.contact-form {
	font-family: 'Roboto', sans-serif;
	padding: 40px;
}
* {box-sizing: border-box;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #78c9c5;
}
/* Footer */
.footer {
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	border-top: 8px solid #4aaaa5;
	background-color: #666666;
	overflow: auto;
	margin-left: -10px;
	margin-right: -10px;
	font-family: 'Roboto', sans-serif;
}



